{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>T V K</title>
    <style>

    h1{
    color: red;
    }

    p{
    color: green;
    }

    </style>

    
</head>
<body><center><div>
    <h1>Welcome To TVK Family</h1>
    <hr color="red" size=2.5>
    <p>Tamizhaga Vetri Kazhagam <span style="color:red">TVK</span> </p>    
    <u> <b>CM VIJAY</b> Tamil Nadu</u><br>
    
    <i>2026</i>
    
    <mark>TVK VIJAY</mark><br>

    <a href="https://en.wikipedia.org/wiki/Tamilaga_Vettri_Kazhagam"> <b><big><font color='blue'>TVK Details</font></big></b> </a><br>
    <img src="static/Vijay.jpg" width="100" alt="Vijay political party TVK">
    <hr color="red" size=2.5>
    <a href="https://en.wikipedia.org/wiki/Vijay_(actor)">
    <img src="static\Vijay.jpg" width="50">
    </a>
    <center>
    <table border="3">
    <tr>
    <th colspan="2"> TVK members</th>
    </tr>
    <tr>
    <th>Name</th>
    <th>Age</th>
    </tr>

    <tr>
    <td>DHINA G</td>
    <td>23</td>
    </tr>

    <tr>
    <td>ARUN</td>
    <td>22</td>
    </tr>

    </table>
    <br><hr color="red" size=2.5>
    <table height="100">
    <tr>
    <td>Left Data</td>
    <td>Right Data</td>
    </tr>
    </table>


</div>
</form>
</body></center>
</html>